@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Cinzel&family=Roboto:wght@100&display=swap');
:root{
    --rojoBrillante: rgb(242, 95, 58);
    --azulOscuro: rgb(35, 44, 81);
    --azulGrisáceoOscuro: rgb(143, 148, 167);
    --azulMuyOscuro: rgb(29, 30, 37);
    --rojoMuyPálido: rgb(255, 239, 234);
    --varianteGrisClaro: rgb(249, 249, 249);

}
*{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Cinzel', serif;
    font-family: 'Roboto', sans-serif;
    color: var(--azulOscuro);
    padding: 0;
    margin: 0;

  

}
body {
    background-image: url(/img/bg-tablet-pattern.svg);
    background-position-x: 140%;
    background-position-y: 500%; 
    background-repeat: no-repeat;
    
}

nav{
    display: flex;
    position: relative;
    box-sizing: border-box;
    left: 30px;
    top: 30px;
    font-size: 15px;
    width: 100%;

}
.navBar{
    display: flex;
    position: relative;
    margin-left: 120px;
    padding: 8px 16px;
}
nav a{
   margin-left: 50px;
   text-decoration: none;
   cursor: pointer;

}
nav img {
    height: 20px;
}
button, span{
    display: flex;
    position: relative;
    background-color: var(--rojoBrillante);
    color: #ffffff;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    border: none;


}
label{
    opacity: 0;
}
nav button{
    left: 160px;
    top: -10 px;
}
.navBar :hover{
    background-color: var(--rojoMuyPálido);
    transition: ease-in .2s;
}
h1{
    position: relative;
    height: 200px;
    width: 440px;
    font-size: 60px;
    top: 70px;
}
main{
    position: relative;
    left: 20px;
    font-size: 18px;
}
main p {
    position: relative;
    width: 400px;
    top: 90px;
}
main button {
    top: 110px;
}
.grafica{
    position: absolute;
    right: 100px;
    top: 150px;
    width: 600px;
}
section {
    position: relative;
    left: 30px;
    top:150px;
    width: 500px;
    height: 200px;
    

}
h2 {
    position: relative;
    top: 100px;
    font-size: 40px;


}
section p {
    position: relative;
    top: 100px;
    width: 350px;


}
article {
    position: absolute;
    top: 700px;
    right: 100px;
    width: 400px;
    box-sizing: border-box;

}
article h5{
    position: relative;
}
article h5{
    flex-direction: row;
    justify-content: flex-start;
    top: 15px;
}
article span{
    position: absolute;
    display: flex;
    width: 30px;
    font-size: 15px;
    right: 410px;


}
article p {
    position: relative;
    top: 25px;
}
.article2 {
    position: relative;
    display: flex;
    top: 400px;
    width: 1200px;
    flex-direction: row;
    right: 200px;
}
.article2 h3 {
    position: relative;
    display: flex;
    font-size: 40px;
    font-weight: bold;
    left: 640px;
    width: 1400px;
    top: 80px;
    white-space: nowrap;



}
.article2 p {
    font-size: 16px;
    
}
.article2 img {
    position: relative;
    width: 70px;
    height: 70px;
}
.botonCentrado{
    position: relative;
    display: flex;
    left: 550px;
    top: 620px;
    width: 100px;

}
.boxCards{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 200px;
    left: 50px;


}
.boxCards img {
    top: -10%;
}
.boxAli, .boxAnisha,
.boxRichard {
    display: flex;
    align-items: center;
    background-color: #fafafa;
    height: 220px;
    width: 350px;
    flex-direction: column;
    padding-left: 10px;
}
.boxAnisha {
    position: relative;
    right: 150px;

}
.boxRichard{
    position: relative;

}
.boxAli{
    position: relative;
    right: 100px;

}
.panchito2 {
    position: absolute;
    z-index: -1;
    right: 150px;
    top: 300px;
    width: 100%;
}
.panchito3 {
    position: relative;
    display: flex;
    left: 100px;
    top: 600px;
    opacity: 0.1;
    z-index: 1;
    height: 400px;
    width: 100%;
}
.panchito4 {
    position: absolute;
    display: flex;
    left: 1100px;
    top: 900px;
    opacity: 0.1;
    z-index: 0.1;
    width: 100%;
    
}
aside{
    background-color: var(--rojoBrillante);
    position: absolute;
    display: flex;
    width: 1500px;
    height: 200px;
    top: 1600px;
    margin-left: -8px;
    align-items: center;
    background-image: url(/img/bg-simplify-section-desktop.svg);
    background-position-x: 220%;
    background-position-y: 100%;
    
    
}
aside h3 {
    display: flex;
    position: relative;
    font-size: 40px;
    color: #ffffff;
    width: 440px;
    line-height: 48px;
    font-weight: 700px;
    left: 50px;

}
aside button {
    position: relative;
    left: 700px;
    width: 100px;
    font-size: 11px;
    background-color: #ffffff;
    color: var(--rojoBrillante);

}

footer {
    background-color: var(--azulMuyOscuro);
    position: absolute;
    width: 1500px;
    height: 250px;
    top: 1800px;
    margin-left: -8px;
    bottom: 1px;
    z-index: 2;
}
footer img {
    position: relative;
    left: 10%;
    top: 70px;
    bottom: 9%;
    width: 120px;
}
.boxRedes{
    position: relative;
    display: flex;
    font-style: normal;
    opacity: 1;
    top: 130px;
    left: 10%;
    justify-content: space-between;
    width: 20px;
    gap: 15px;
    padding: 10px;


}

footer a {
    color: azure;
    text-decoration: none;


}
.primeraColumna, .segundaColumna {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
     gap: 12px;

}
.primeraColumna {
    position: relative;
    left: 27%;
    height: 130px;
    width: 15%;

}
.segundaColumna{
    position: relative;
    left: 600px;
    bottom: 120px;
    width: 15%;
}
form {
    position: relative;
    right: 510px;

}
footer p {
    position: relative;
    display: flex;
    justify-content: flex-end;
    color: var(--varianteGrisClaro);
    top: -100px;
    right: 200px;
    font-size: 13px;

}
form{
    position: absolute;
    display: flex;
    bottom: 150px;
    right: 260px

}
footer input {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    border-radius: 50px;
    border: none;
}
footer button {
    font-size: 13px;
    width: 63px;
    margin-left: 10px;

}

@media (max-width: 500px) {
    body {
        background-position-x: -50%;
        background-position-y: -15vh;
        background-size: 500px;
        
    }
    label {
        opacity: 1;
    }
    
    .navBar{
        opacity: 0;
    }
    body label {
        position: relative;
        display: flex;
        left: 85%;
        top: -1.2vh;
        flex-direction: row;
    }
    nav .logo {
        position: absolute;
        display: flex;
        
    }
    .grafica{
        width: 100%;
        left: -1%;
        top: 10%;
        
    }
    h1, p {
        position: relative;
        display: flex;
        top: 45vh;
        width: 80vw;
        text-align: center;
        left: 5px;
    }
    h1 {
        font-size: 40px;
        
    }
    main p{
        font-size: 15px;
        top: 40vh;
        width: 80%;;
    }
    main button {
        flex-direction: row;
        display: flex;
        position: absolute;
        width: 25vw;
        top: 280%;
        left: 30%;
    }
    section {
        position: relative;
        display: flex;
        top: 50vh;
        width: 160%;
        left: 11vw;
    }
    section p{ 
        position: relative;
        left: -85vw;
        top: 25vh;
        width: 490px;
        background-image: url(/img/bg-simplify-section-mobile.svg);
    
    }
    article{
        position: absolute;
        left: 18vw;
        top: 122vh;
    }
    article p { 
        left: -2vw;
    }
    .article2{
        position: relative;
        top: 58rem;
        right: 42%;
    }
    .article2 h3 {
        left: 55vw;
    }
    .boxAnisha p {
        top: 1vh;
    }
    .botonCentrado{
        left: 38%;
        top: 140vh;
    }
    footer, aside {
        position: relative;
        top: 150vh;
    }
    aside {
        height: 40vh;
    }
    aside h3 {
        display: flex;
        width: 22%;
        text-align: center;
        top: -20%;
    }
    aside button {
        left: -11%;
        top: 20%;
    }
    footer {
        height: 50vh;
    }
    footer form {
        position: relative;
        left: 6%;
        top: -22vh;
    }
    footer img {
        position: relative;
        top: 80%;

    }
    .columnasFooter {
        position: relative;
        right: 22%;
        top: 18% ;
    }
    
       footer  p {
    position: relative;
    display: flex;
    top: 18%;
    left: -1%;
    }
    .boxRedes {
        display: flex;
        top: 63%;
        justify-content: space-between;
        width: 20%;
        left: 4%;
    }
}